#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "icons/app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404E4"
        BEGIN
            VALUE "CompanyName",      "笃一科技"
            VALUE "FileDescription",  "Config Tool"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "ConfigTool"
            VALUE "OriginalFilename", "ConfigTool.exe"
            VALUE "ProductName",      "ConfigTool"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1252
    END
END
